.homepage {
  font-family: "Roboto", sans-serif;
  width: auto;
  height: auto;
  margin: 0;
  min-width: 300px;
}
.homepage > *:not(.spinner) {
  animation: timeout 1.4s linear;
}

@keyframes timeout {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-200%);
  }
}
* {
  box-sizing: border-box;
}

h1:not(.heading h1) {
  font-family: "Shrikhand", cursive;
}

h2,
h3 {
  font-family: "Roboto", sans-serif;
}

.footer-title {
  font-family: "Shrikhand", cursive;
  color: #ededed;
  font-weight: 400;
  font-size: 14.7px;
}

.menu {
  font-family: "Roboto", sans-serif;
  width: auto;
  height: auto;
  margin: 0;
  min-width: 300px;
}
.menu > * {
  animation: menu-timeout 0.5s linear;
}
.menu * {
  box-sizing: border-box;
}
.menu h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
}
.menu h2,
.menu h3,
.menu h4:not(.footer-title) {
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 768px) {
  .menu {
    background-color: #f6f6f6;
  }
}

@keyframes menu-timeout {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-200%);
  }
}
.explore-button {
  border: 0;
  border-radius: 21px;
  height: 43px;
  width: auto;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 11px;
  padding-bottom: 12px;
  color: white;
  box-shadow: 0.2px 3px 8px #b7b7b7;
  background: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
}
.explore-button:hover {
  background: linear-gradient(#ff8de0, #9e67e0);
  box-shadow: 0.4px 4px 8px #b7b7b7;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .explore-button:hover {
    background: linear-gradient(#ff8de0, #9e67e0);
    box-shadow: 0.4px 4px 8px #b7b7b7;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
  .explore-button {
    margin-left: 1.3%;
  }
}
@media screen and (min-width: 992px) and (orientation: landscape) {
  .explore-button {
    margin-left: 1.3%;
  }
}

.spinner {
  text-align: center;
  animation: spinner-display 1s linear 1.4s forwards;
}
.spinner i {
  position: fixed;
  width: 50%;
  color: #b389e7;
  animation: spin 1.4s linear 0s;
  visibility: hidden;
}

@keyframes spinner-display {
  from {
    color: transparent;
    border: 0;
    width: 0;
    height: 0;
    margin: 0;
    visibility: hidden;
  }
  to {
    color: transparent;
    border: 0;
    width: 0;
    height: 0;
    margin: 0;
    visibility: hidden;
  }
}
@keyframes spin {
  0% {
    visibility: hidden;
    top: 25%;
    left: 25%;
  }
  1% {
    visibility: visible;
    transform: rotate(0turn);
    top: 25%;
    left: 25%;
  }
  100% {
    transform: rotate(1.5turn);
    top: 25%;
    left: 25%;
    visibility: hidden;
  }
}
@media screen and (orientation: landscape) {
  .spinner {
    text-align: center;
    animation: spinner-display 1s linear 1.4s forwards;
  }
  .spinner i {
    position: fixed;
    width: 50%;
    color: #b389e7;
    animation: spin 1.4s linear 0s;
    visibility: hidden;
  }
  @keyframes spinner-display {
    from {
      color: transparent;
      border: 0;
      width: 0;
      height: 0;
      margin: 0;
      visibility: hidden;
    }
    to {
      color: transparent;
      border: 0;
      width: 0;
      height: 0;
      margin: 0;
      visibility: hidden;
    }
  }
  @keyframes spin {
    0% {
      visibility: hidden;
      top: 25%;
      left: 25%;
    }
    1% {
      visibility: visible;
      transform: rotate(0turn);
      top: 25%;
      left: 25%;
    }
    100% {
      transform: rotate(1.5turn);
      top: 25%;
      left: 25%;
      visibility: hidden;
    }
  }
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .spinner {
    text-align: center;
    animation: spinner-display 1s linear 1.4s forwards;
  }
  .spinner i {
    position: fixed;
    width: 50%;
    color: #b389e7;
    animation: spin 1.4s linear 0s;
    visibility: hidden;
  }
  @keyframes spinner-display {
    from {
      color: transparent;
      border: 0;
      width: 0;
      height: 0;
      margin: 0;
      visibility: hidden;
    }
    to {
      color: transparent;
      border: 0;
      width: 0;
      height: 0;
      margin: 0;
      visibility: hidden;
    }
  }
  @keyframes spin {
    0% {
      visibility: hidden;
      top: 25%;
      left: 25%;
    }
    1% {
      visibility: visible;
      top: 25%;
      left: 25%;
      transform: rotate(0turn);
    }
    100% {
      transform: rotate(1.5turn);
      top: 25%;
      left: 25%;
      visibility: hidden;
    }
  }
}
.steps {
  border-radius: 21px;
  border: 1px transparent inset;
  width: auto;
  height: 67px;
  font-weight: 700;
  font-size: 14.5px;
  background-color: #f6f6f6;
  box-shadow: 0.29px 6.3px 12px #e7e7e7;
}
.steps:hover {
  background-color: #f2eafb;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .steps:hover {
    background-color: #f2eafb;
  }
}

.left-side span {
  background-color: #9356DC;
  color: white;
  font-weight: normal;
  border-radius: 20px;
  width: 18px;
  height: auto;
  padding: 2px;
  text-align: center;
  font-size: 12px;
}
.left-side i {
  color: #646464;
}

.card {
  border: 1px transparent inset;
  border-radius: 22px 22px 22px 22px;
  overflow: hidden;
  width: auto;
  height: 287px;
  box-shadow: 0.5px 4px 13px #d3d3d3;
  margin-right: 4.2%;
  margin-left: 4.2%;
  margin-bottom: 6%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .card {
    width: 100%;
    height: 200px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0;
  }
}

.new-restaurant-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 79% left;
  height: 490px;
  overflow-y: hidden;
  margin-bottom: 0;
}
.new-restaurant-image span {
  border: 2px #99E2D0 solid;
  border-radius: 3px;
  font-size: 12.3px;
  font-weight: 600;
  padding-top: 3.2px;
  padding-bottom: 3.2px;
  padding-left: 8px;
  padding-right: 9px;
  float: right;
  position: relative;
  right: 4%;
  top: 6%;
  background-color: #99E2D0;
  color: #2a947a;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .new-restaurant-image {
    width: 100%;
    height: 200px;
  }
}

.charonne-restaurant-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 67% left;
  height: 490px;
  overflow-y: hidden;
  margin-bottom: 0;
}
.charonne-restaurant-image span {
  border: 2px #99E2D0 solid;
  border-radius: 3px;
  font-size: 12.3px;
  font-weight: 600;
  padding-top: 3.2px;
  padding-bottom: 3.2px;
  padding-left: 8px;
  padding-right: 9px;
  float: right;
  position: relative;
  right: 4%;
  top: 6%;
  background-color: #99E2D0;
  color: #2a947a;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .charonne-restaurant-image {
    width: 100%;
    height: 200px;
  }
}

.other-restaurants-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 79% left;
  height: 490px;
  overflow-y: hidden;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .other-restaurants-image {
    width: 100%;
    height: 200px;
  }
}

.images-caption {
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
  position: relative;
}
.images-caption .far {
  transform: scale(1.2);
  color: #646464;
  margin-right: 2.12%;
  position: absolute;
  right: 1.2%;
  top: 35.5%;
  cursor: pointer;
}
@media screen and (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
  .images-caption .far {
    margin-right: 2.08%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
  .images-caption .far {
    margin-right: 2%;
  }
}
@media screen and (min-width: 992px) {
  .images-caption .far {
    margin-right: 2%;
  }
}
.images-caption .far + .fas {
  position: absolute;
  right: 3.3%;
  top: 35.3%;
  border: 0;
  color: transparent;
  background: linear-gradient(#9e67e0, #ff8de0);
  background-clip: text;
  -webkit-background-clip: text;
  visibility: hidden;
}
@media screen and (min-width: 768px) and (max-width: 992px) and (orientation: portrait) {
  .images-caption .far + .fas {
    right: 3.17%;
    top: 32.82%;
    border: 1px transparent solid;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
  .images-caption .far + .fas {
    right: 2.77%;
    top: 32.82%;
    border: 1px transparent solid;
  }
}
@media screen and (min-width: 992px) {
  .images-caption .far + .fas {
    right: 2.91%;
    top: 33%;
    border: 1px transparent solid;
  }
}
.images-caption .far:hover + .fas {
  animation: filling 0.4s ease-in 0s forwards;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .images-caption .far:hover + .fas {
    animation: filling 0.4s ease-in 0s forwards;
  }
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .images-caption {
    width: 100%;
  }
}

.details {
  font-weight: 350;
  font-size: 14.4px;
}
.details a h4 {
  margin-bottom: 0;
  margin-top: 0;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .details a h4 {
    width: 80%;
    margin-bottom: 0;
    margin-top: 0;
  }
}

@keyframes filling {
  0% {
    visibility: visible;
    transform: scale(0);
  }
  20% {
    transform: scale(0.2);
  }
  30% {
    transform: scale(0.3);
  }
  40% {
    transform: scale(0.4);
  }
  50% {
    transform: scale(0.5);
  }
  60% {
    transform: scale(0.6);
  }
  70% {
    transform: scale(0.7);
  }
  80% {
    transform: scale(0.8);
  }
  90% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.4);
    visibility: visible;
  }
}
.menu-header button {
  background-color: transparent;
  border: 0;
  color: black;
  transform: scale(1.2);
}
@media screen and (min-width: 768px) {
  .menu-header button {
    transform: scale(1.1);
  }
}

main img {
  width: 100%;
  height: 300px;
  margin-top: 3%;
  object-fit: cover;
  overflow: hidden;
  overflow-y: hidden;
  position: relative;
  margin-bottom: 0;
  z-index: 0;
}
@media screen and (min-width: 768px) {
  main img {
    height: 430px;
    margin-top: 0;
    object-position: right 5% bottom 33%;
    margin-bottom: 0;
  }
}

.underline {
  border: 1px #99E2D0 solid;
  background-color: #99E2D0;
  height: 3px;
  width: 40px;
  margin-top: 2.7px;
  margin-left: 3%;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .underline {
    border: 1px #99E2D0 solid;
    background-color: #99E2D0;
    height: 3px;
    width: 40px;
    margin-top: 3px;
    margin-left: 3.2%;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 992px) and (orientation: landscape) {
  .underline {
    margin-left: 1.9%;
    border: 1px #99E2D0 solid;
    background-color: #99E2D0;
    height: 3px;
    width: 40px;
    margin-top: 3px;
    margin-bottom: 15px;
  }
}

.item {
  border-radius: 13.5px;
  background-color: white;
  height: 70px;
  margin-left: 2.8%;
  margin-right: 2.8%;
  padding-left: 2.2%;
  box-shadow: 0.5px 3px 12px #d3d3d3;
  overflow: hidden;
  padding: 0;
  cursor: pointer;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .item {
    width: auto;
    padding: 0;
  }
}
@media screen and (min-width: 992px) and (orientation: landscape) {
  .item {
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 0.3%;
  }
}

.item-description {
  margin-top: 0;
  width: 85%;
  user-select: none;
  overflow: hidden;
}
.item-description h4 {
  margin-top: 0;
  margin-bottom: 0;
  width: 95%;
  margin-left: 2.2%;
  white-space: normal;
}
.item-description p {
  font-size: 13.7px;
  font-weight: 300;
  margin-top: 1%;
  margin-bottom: 0;
  width: 95%;
  margin-left: 2.2%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .item-description {
    width: 75%;
  }
  .item-description h4 {
    white-space: nowrap;
    font-size: 17px;
    width: 96%;
  }
  .item-description p {
    width: 96%;
  }
}
@media screen and (min-width: 992px) and (orientation: landscape) {
  .item-description {
    width: 55%;
  }
  .item-description h4 {
    margin-left: 2.2%;
    white-space: normal;
    width: 96%;
    font-size: 15.5px;
  }
}
.item-description p {
  width: 96%;
  margin-left: 2.2%;
}

.order-button {
  border: 1px transparent;
  border-radius: 18px;
  height: 39px;
  width: auto;
  padding-left: 42px;
  padding-right: 42px;
  padding-top: 2px;
  padding-bottom: 4px;
  font-size: 13.2px;
  color: white;
  box-shadow: 0.2px 3px 8px #b7b7b7;
  background: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
}
.order-button:hover {
  background: linear-gradient(#ff8de0, #9e67e0);
  box-shadow: 0.4px 4px 8px #b7b7b7;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .order-button:hover {
    background: linear-gradient(#ff8de0, #9e67e0);
    box-shadow: 0.4px 4px 8px #b7b7b7;
  }
}

.order-container {
  transform: translateX(65px);
  transition: transform 0.4s ease-in-out 0s;
}
.order-container .order {
  border-radius: 0 13.5px 13.5px 0;
  background-color: #99E2D0;
  margin-top: 0;
  margin-bottom: 0;
  width: 35%;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0;
}
.order-container .order i {
  text-align: center;
  color: white;
  border-radius: 19px 19px 19px 19px;
  border-color: #99E2D0;
  padding: 4px;
  width: 27px;
  height: auto;
  color: #99E2D0;
  background-color: white;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .order-container .order {
    width: 13%;
  }
}
@media screen and (min-width: 992px) {
  .order-container .order {
    width: 17.5%;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 18px;
}
.header img {
  width: 37%;
  height: auto;
}
@media screen and (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f6f6;
  }
  .header img {
    width: 16%;
    height: auto;
    margin-left: 1.7%;
  }
}
@media screen and (min-width: 992px) and (orientation: landscape) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
  }
  .header img {
    width: 13.4%;
    height: auto;
    margin-left: 1.7%;
  }
}

.searches {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  font-size: 15.5px;
  background-color: #e7e7e7;
  margin-top: 3%;
  padding: 14px;
}
.searches i {
  margin-right: 1.7%;
}
.searches strong {
  font-weight: 500;
}
@media screen and (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
  .searches {
    background-color: transparent;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 2px;
    margin-top: 0;
    padding-bottom: 2px;
    font-size: 14px;
    padding-right: 0;
    margin-right: 1.7%;
  }
}
@media screen and (min-width: 992px) and (orientation: landscape) {
  .searches {
    background-color: transparent;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 15.5px;
    padding-right: 0;
    margin-right: 1.7%;
  }
}

.spinner + h2 {
  width: auto;
  margin-left: 2.4%;
  margin-bottom: 4%;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .spinner + h2 {
    margin-bottom: 0;
  }
}

.indications-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 0;
  margin-bottom: 45px;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .indications-card {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.indications-card div:nth-child(1),
.indications-card div:nth-child(2),
.indications-card div:nth-child(3) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 88%;
  margin-left: 3.3%;
  margin-right: 3.3%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .indications-card div:nth-child(1),
  .indications-card div:nth-child(2),
  .indications-card div:nth-child(3) {
    margin-right: 1.5%;
    margin-left: 1.5%;
  }
}

.indications-card div div:nth-child(1),
.indications-card div div:nth-child(2),
.indications-card div div:nth-child(3) {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 15%;
  margin-left: -9.6px;
  margin-right: 8%;
  position: relative;
  top: 1.2px;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .indications-card div div:nth-child(1),
  .indications-card div div:nth-child(2),
  .indications-card div div:nth-child(3) {
    width: 17%;
  }
}

main + h3 {
  width: auto;
  margin-bottom: 0%;
  padding-left: 2.4%;
  padding-top: 40px;
  padding-bottom: 15px;
  background-color: #f6f6f6;
  font-size: 20.5px;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  main + h3 {
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 2.2%;
    background-color: transparent;
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f6f6f6;
  padding-bottom: 30px;
}
.restaurants div:first-child div:nth-child(2) {
  margin-left: 1.07%;
}
.restaurants div:first-child a:first-child {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.restaurants div:nth-child(2) div:nth-child(2) {
  margin-left: 1.07%;
}
.restaurants div:nth-child(2) a:first-child {
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.restaurants div:nth-child(3) div:nth-child(2) {
  margin-left: 1.07%;
}
.restaurants div:nth-child(3) a:first-child {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.restaurants div:nth-child(4) div:nth-child(2) {
  margin-left: 1.07%;
}
.restaurants div:nth-child(4) a:first-child {
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}
.restaurants a {
  color: black;
  text-decoration: none;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .restaurants {
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }
}
@media screen and (min-width: 768px) and (orientation: landscape) and (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
  .restaurants div:nth-child(1) div:nth-child(2) {
    margin-left: 0.58%;
  }
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .restaurants div:nth-child(1) div:nth-child(2) > div {
    width: 86%;
  }
}
@media screen and (min-width: 768px) and (orientation: landscape) and (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
  .restaurants div:nth-child(2) div:nth-child(2) {
    margin-left: 0.53%;
  }
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .restaurants div:nth-child(2) div:nth-child(2) > div {
    width: 86%;
  }
}
@media screen and (min-width: 768px) and (orientation: landscape) and (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
  .restaurants div:nth-child(3) div:nth-child(2) {
    margin-left: 0.59%;
  }
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .restaurants div:nth-child(3) div:nth-child(2) > div {
    width: 86%;
  }
}
@media screen and (min-width: 768px) and (orientation: landscape) and (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
  .restaurants div:nth-child(4) div:nth-child(2) {
    margin-left: 0.63%;
  }
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .restaurants div:nth-child(4) div:nth-child(2) > div {
    width: 86%;
  }
}

.footer {
  background-color: #363636;
  color: #ededed;
  padding-left: 5%;
  padding-top: 2px;
  margin-bottom: 0;
  height: auto;
}
.footer .footer-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 33px;
  height: auto;
}
.footer .footer-container a {
  color: #ededed;
  text-decoration: none;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .footer .footer-container {
    flex-direction: row;
    align-items: baseline;
  }
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .footer {
    margin-top: 3.4%;
  }
}

.first-line-icon {
  margin-left: 0;
  width: 23px;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .first-line-icon {
    margin-left: 0;
    width: 15%;
  }
}

.second-line-icon {
  margin-left: 0;
  width: 23px;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .second-line-icon {
    margin-left: 0;
    width: 15%;
  }
}

.container-first-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
  font-size: 13px;
  margin-bottom: 1.5%;
  width: 90%;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .container-first-line {
    width: 28%;
    text-align: center;
  }
}

.container-second-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
  font-size: 13px;
  margin-bottom: 1.5%;
  width: 90%;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .container-second-line {
    width: 28%;
    text-align: center;
  }
}

.container-third-line {
  font-size: 14px;
  margin-bottom: 1.3%;
  font-weight: 300;
  font-size: 12.5px;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .container-third-line {
    width: 28%;
    text-align: center;
  }
}

.container-fourth-line {
  font-size: 14px;
  margin-bottom: 1.5%;
  font-weight: 300;
  font-size: 12.5px;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .container-fourth-line {
    width: 25%;
    text-align: center;
  }
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  height: auto;
  padding-top: 18px;
  margin-left: 4.5%;
}
@media screen and (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
  .menu-header {
    justify-content: flex-end;
    align-items: center;
    width: auto;
    margin-left: 0;
    position: relative;
    z-index: 1;
    border-bottom: 3px #f6f6f6 solid;
    border-radius: 0 0 12px 12px;
    margin-bottom: -10px;
    padding-bottom: 11px;
    background-color: #f6f6f6;
  }
}
@media screen and (min-width: 992px) and (orientation: landscape) {
  .menu-header {
    justify-content: flex-end;
    align-items: center;
    width: auto;
    margin-left: 0;
    position: relative;
    z-index: 1;
    border-bottom: 3px #f6f6f6 solid;
    border-radius: 0 0 12px 12px;
    margin-bottom: -10px;
    padding-bottom: 11px;
    background-color: #f6f6f6;
  }
}

.menu-logo {
  width: 60%;
  height: auto;
}
@media screen and (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
  .menu-logo {
    width: 16%;
    height: auto;
    margin-left: 5.3%;
    margin-right: 1.7%;
  }
}
@media screen and (min-width: 992px) and (orientation: landscape) {
  .menu-logo {
    width: 13.4%;
    height: auto;
    margin-left: 4.7%;
    margin-right: 1.7%;
  }
}

.menu-section {
  position: relative;
  z-index: 1;
  margin-top: -47px;
  padding-top: 38px;
  border-radius: 35px 35px 0 0;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.menu-section h3 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 16.3px;
  margin-left: 3.2%;
  width: auto;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .menu-section {
    padding-top: 19px;
  }
  .menu-section h3 {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 992px) and (orientation: landscape) {
  .menu-section h3 {
    margin-bottom: 0;
    margin-left: 1.9%;
  }
}

.restaurant-name {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 0;
  width: auto;
  margin-left: 3.2%;
}
.restaurant-name h1 {
  margin-top: 0;
}
.restaurant-name i {
  transform: scale(1.3);
  margin-right: 5.2%;
}
@media screen and (min-width: 778px) and (orientation: landscape) {
  .restaurant-name {
    width: 95%;
  }
}
@media screen and (min-width: 992px) and (orientation: landscape) {
  .restaurant-name {
    margin-left: 1.8%;
    width: 95%;
  }
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  margin-bottom: 2.9%;
}
@media screen and (min-width: 992px) and (orientation: landscape) {
  .item {
    width: 30.5%;
  }
}

.items-container {
  width: auto;
}
.items-container .item:first-child {
  animation: first-item-intro 0.5s ease-out 0.7s backwards;
}
.items-container .item + .item {
  animation: second-item-intro 0.4s ease-out 0.8s backwards;
}
.items-container .item + .item + .item {
  animation: third-item-intro 0.2s ease-out 1s backwards;
}
.items-container .item + .item + .item + .item {
  animation: third-item-intro 0.2s ease-out 1s backwards;
}
@media screen and (min-width: 992px) and (orientation: landscape) {
  .items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
}

.order-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  overflow: hidden;
}
.order-container span {
  font-weight: bold;
  font-size: 13px;
  margin-right: 3.2%;
  position: relative;
  top: 13px;
  margin-right: 0;
  width: 55%;
  text-align: right;
  position: relative;
  right: 17px;
}
.order-container .order {
  margin-left: 0;
  width: 23%;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .order-container .order {
    margin-left: 0;
    width: 16%;
  }
  .order-container span {
    font-weight: 800;
    margin-right: 0;
    width: 55%;
    text-align: right;
    position: relative;
    right: 0;
    left: 28px;
    padding-right: 12px;
  }
}
@media screen and (min-width: 992px) {
  .order-container .order {
    margin-left: 0;
    width: 16%;
  }
  .order-container span {
    font-weight: 800;
    margin-right: 0;
    width: 48%;
    text-align: right;
    position: relative;
    right: 0px;
    left: 0px;
  }
}

.item:hover {
  justify-content: flex-start;
}
.item:hover .item-description {
  width: 50%;
}
.item:hover .item-description h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.item:hover .item-description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .item:hover .item-description {
    width: 80%;
  }
  .item:hover .item-description h4 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
@media screen and (min-width: 992px) {
  .item:hover .item-description {
    width: 60%;
  }
  .item:hover .item-description h4 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.item:hover .item-description ~ .order-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
  overflow: hidden;
  transform: translateX(0px);
}
.item:hover .item-description ~ .order-container span {
  margin-right: 0;
  width: 55%;
  text-align: right;
  position: relative;
  right: 3px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .item:hover .item-description ~ .order-container span {
    margin-right: 0;
    width: 55%;
    text-align: right;
    position: relative;
    right: 0;
    left: 18px;
  }
}
@media screen and (min-width: 992px) {
  .item:hover .item-description ~ .order-container span {
    margin-right: 0;
    width: 48%;
    text-align: right;
    position: relative;
    right: 0px;
    left: 0px;
  }
}
.item:hover .item-description ~ .order-container .order {
  margin-left: 0;
  width: 35%;
}
.item:hover .item-description ~ .order-container .order i {
  animation: rotating-check 0.7s ease-in-out;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .item:hover .item-description ~ .order-container .order i {
    animation: rotating-check 0.7s ease-in-out;
  }
}
@media screen and (min-width: 992px) {
  .item:hover .item-description ~ .order-container .order i {
    animation: rotating-check 0.7s ease-in-out;
  }
}

.button-section {
  margin-top: 40px;
  margin-bottom: 75px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .button-section {
    margin-bottom: 35px;
  }
}

.order-button-container {
  width: 50%;
  text-align: center;
}

@keyframes first-item-intro {
  from {
    visibility: hidden;
    transform: translateY(8px);
  }
  to {
    visibility: visible;
  }
}
@keyframes second-item-intro {
  from {
    visibility: hidden;
    transform: translateY(8px);
  }
  to {
    visibility: visible;
  }
}
@keyframes third-item-intro {
  from {
    visibility: hidden;
    transform: translateY(8px);
  }
  to {
    visibility: visible;
  }
}
@keyframes rotating-check {
  from {
    transform: rotate(-0.5turn);
  }
  to {
    transform: rotate(0turn);
  }
}
.heading {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 44px;
  background-color: #f6f6f6;
}
.heading h1 {
  width: 75%;
  font-weight: 900;
  margin-bottom: 11px;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .heading h1 {
    width: auto;
    font-weight: 900;
    margin-left: 1.7%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
  .heading {
    align-items: flex-start;
    text-align: left;
    padding-top: 4px;
  }
}
@media screen and (min-width: 992px) and (orientation: landscape) {
  .heading {
    align-items: flex-start;
    text-align: left;
    margin-top: 1.7%;
  }
}

.description {
  margin-top: 0;
  width: 82%;
  font-weight: 400;
  font-size: 17.5px;
  color: #646464;
  margin-bottom: 27px;
}
@media screen and (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
  .description {
    width: auto;
    margin-left: 1.7%;
  }
}
@media screen and (min-width: 992px) and (orientation: landscape) {
  .description {
    width: auto;
    margin-left: 1.7%;
  }
}

/*# sourceMappingURL=styles.css.map */
