body {
  font-family: "Roboto", sans-serif;
  width: auto;
  margin: 0;
  min-width: 300px;
}
body *:not(.spinner) {
  animation: 1.8s linear timeout;
}

@keyframes timeout {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
* {
  box-sizing: border-box;
}

h1:not(.heading-block h1) {
  font-family: "Shrikhand", cursive;
}

h2,
h3 {
  font-family: "Roboto", sans-serif;
}

.heading-block__explore-button {
  border: 0;
  border-radius: 21px;
  height: 43px;
  width: auto;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 11px;
  padding-bottom: 12px;
  color: white;
  box-shadow: 0.2px 3px 8px #b7b7b7;
  background: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
}
.heading-block__explore-button:hover {
  background: linear-gradient(#ff8de0, #9e67e0);
  box-shadow: 0.4px 4px 8px #b7b7b7;
}
@media screen and (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
  .heading-block__explore-button {
    margin-left: 1.3%;
  }
}
@media screen and (min-width: 992px) and (orientation: landscape) {
  .heading-block__explore-button {
    margin-left: 1.3%;
  }
}

.spinner {
  text-align: center;
  animation: 1s linear 1.8s forwards spinner-display;
}
.spinner i {
  width: auto;
  color: #b389e7;
  animation: 1.8s linear 0s forwards spin;
}

@keyframes spinner-display {
  from {
    color: transparent;
    border: 0;
    width: 0;
    height: 0;
    margin: 0;
    visibility: hidden;
  }
  to {
    color: transparent;
    border: 0;
    width: 0;
    height: 0;
    margin: 0;
    visibility: hidden;
  }
}
@keyframes spin {
  0% {
    visibility: hidden;
    position: fixed;
    top: 165px;
  }
  1% {
    visibility: visible;
    transform: rotate(0turn) scale(9);
    position: fixed;
    top: 165px;
  }
  100% {
    transform: rotate(1.2turn) scale(9);
    position: fixed;
    top: 165px;
    visibility: hidden;
  }
}
@media screen and (orientation: landscape) {
  .spinner {
    text-align: center;
    animation: 1s linear 1.8s forwards spinner-display;
  }
  .spinner i {
    width: auto;
    color: #b389e7;
    animation: 1.8s linear 0s forwards spin;
  }
  @keyframes spinner-display {
    from {
      color: transparent;
      border: 0;
      width: 0;
      height: 0;
      margin: 0;
      visibility: hidden;
    }
    to {
      color: transparent;
      border: 0;
      width: 0;
      height: 0;
      margin: 0;
      visibility: hidden;
    }
  }
  @keyframes spin {
    0% {
      visibility: hidden;
      position: fixed;
      top: 215px;
    }
    1% {
      visibility: visible;
      transform: rotate(0turn) scale(9);
      position: fixed;
      top: 215px;
    }
    100% {
      transform: rotate(1.2turn) scale(9);
      position: fixed;
      top: 215px;
      visibility: hidden;
    }
  }
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .spinner {
    text-align: center;
    animation: 1s linear 1.8s forwards spinner-display;
  }
  .spinner i {
    width: auto;
    color: #b389e7;
    animation: 1.8s linear 0s forwards spin;
  }
  @keyframes spinner-display {
    from {
      color: transparent;
      border: 0;
      width: 0;
      height: 0;
      margin: 0;
      visibility: hidden;
    }
    to {
      color: transparent;
      border: 0;
      width: 0;
      height: 0;
      margin: 0;
      visibility: hidden;
    }
  }
  @keyframes spin {
    0% {
      visibility: hidden;
      position: fixed;
    }
    1% {
      visibility: visible;
      position: fixed;
      transform: rotate(0turn) scale(7);
    }
    100% {
      transform: rotate(1.2turn) scale(7);
      position: fixed;
      visibility: hidden;
    }
  }
}
.indications-cards__steps {
  border-radius: 21px;
  border: 1px transparent inset;
  width: auto;
  height: 67px;
  font-weight: 700;
  font-size: 14.5px;
  background-color: #f6f6f6;
  box-shadow: 0.29px 6.3px 12px #e7e7e7;
}
.indications-cards__steps:hover {
  background-color: #f2eafb;
}

.indications-cards__steps-left-side span {
  background-color: #9356DC;
  color: white;
  font-weight: normal;
  border-radius: 20px;
  width: 18px;
  height: auto;
  padding: 2px;
  text-align: center;
  font-size: 12px;
}
.indications-cards__steps-left-side i {
  color: #646464;
}

.restaurants-cards-block__new-restaurant {
  border: 1px transparent inset;
  border-radius: 22px 22px 22px 22px;
  overflow: hidden;
  width: auto;
  height: 287px;
  box-shadow: 0.5px 4px 13px #d3d3d3;
  margin-right: 4.2%;
  margin-left: 4.2%;
  margin-bottom: 6%;
  display: flex;
  flex-direction: column;
}
.restaurants-cards-block__new-restaurant-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 79% left;
  height: 490px;
  overflow-y: hidden;
  margin-bottom: 0;
}
.restaurants-cards-block__new-restaurant-image span {
  border: 2px #99E2D0 solid;
  border-radius: 3px;
  font-size: 12.3px;
  font-weight: 600;
  padding-top: 3.2px;
  padding-bottom: 3.2px;
  padding-left: 8px;
  padding-right: 9px;
  float: right;
  position: relative;
  right: 2%;
  top: 2%;
  background-color: #99E2D0;
  color: #2a947a;
}
.restaurants-cards-block__new-restaurant-image-caption {
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
  position: relative;
}
.restaurants-cards-block__new-restaurant-image-caption .far {
  transform: scale(1.2);
  color: #646464;
  margin-right: 4%;
  position: absolute;
  right: 1.2%;
  top: 35.5%;
  cursor: pointer;
}
.restaurants-cards-block__new-restaurant-image-caption .far + .fas {
  position: absolute;
  right: 5.1%;
  top: 36.3%;
  border: 0;
  color: transparent;
  background: linear-gradient(#9e67e0, #ff8de0);
  background-clip: text;
  -webkit-background-clip: text;
  visibility: hidden;
}
.restaurants-cards-block__new-restaurant-image-caption .far:hover + .fas {
  animation: 0.4s ease-in 0s forwards filling;
}
.restaurants-cards-block__new-restaurant-image-caption-details {
  font-weight: 350;
  font-size: 14.4px;
  margin-left: 4.2%;
  width: 80%;
}
.restaurants-cards-block__new-restaurant-image-caption-details a h4 {
  margin-bottom: 0;
  margin-top: 0;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .restaurants-cards-block__new-restaurant {
    width: 100%;
    height: 200px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0;
  }
  .restaurants-cards-block__new-restaurant-image {
    width: 100%;
    height: 200px;
  }
  .restaurants-cards-block__new-restaurant-image-caption {
    width: 100%;
  }
  .restaurants-cards-block__new-restaurant-details {
    width: 100%;
  }
  .restaurants-cards-block__new-restaurant a h4 {
    width: 80%;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.restaurants-cards-block__charonne-restaurant {
  border: 1px transparent inset;
  border-radius: 22px 22px 22px 22px;
  overflow: hidden;
  width: auto;
  height: 287px;
  box-shadow: 0.5px 4px 13px #d3d3d3;
  margin-right: 4.2%;
  margin-left: 4.2%;
  margin-bottom: 6%;
  display: flex;
  flex-direction: column;
}
.restaurants-cards-block__charonne-restaurant-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 67% left;
  height: 490px;
  overflow-y: hidden;
  margin-bottom: 0;
}
.restaurants-cards-block__charonne-restaurant-image span {
  border: 2px #99E2D0 solid;
  border-radius: 3px;
  font-size: 12.3px;
  font-weight: 600;
  padding-top: 3.2px;
  padding-bottom: 3.2px;
  padding-left: 8px;
  padding-right: 9px;
  float: right;
  position: relative;
  right: 2%;
  top: 2%;
  background-color: #99E2D0;
  color: #2a947a;
}
.restaurants-cards-block__charonne-restaurant-image-caption {
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
  position: relative;
}
.restaurants-cards-block__charonne-restaurant-image-caption .far {
  transform: scale(1.2);
  color: #646464;
  margin-right: 4%;
  position: absolute;
  right: 1.2%;
  top: 35.5%;
  cursor: pointer;
}
.restaurants-cards-block__charonne-restaurant-image-caption .far + .fas {
  position: absolute;
  right: 5.1%;
  top: 36.3%;
  border: 0;
  color: transparent;
  background: linear-gradient(#9e67e0, #ff8de0);
  background-clip: text;
  -webkit-background-clip: text;
  visibility: hidden;
}
.restaurants-cards-block__charonne-restaurant-image-caption .far:hover + .fas {
  animation: 0.4s ease-in 0s forwards filling;
}
.restaurants-cards-block__charonne-restaurant-image-caption-details {
  font-weight: 350;
  font-size: 14.4px;
  margin-left: 4.2%;
  width: 80%;
}
.restaurants-cards-block__charonne-restaurant-image-caption-details a h4 {
  margin-bottom: 0;
  margin-top: 0;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .restaurants-cards-block__charonne-restaurant {
    width: 100%;
    height: 200px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0;
  }
  .restaurants-cards-block__charonne-restaurant-image {
    width: 100%;
    height: 200px;
  }
  .restaurants-cards-block__charonne-restaurant-image-caption {
    width: 100%;
  }
  .restaurants-cards-block__charonne-restaurant-details {
    width: 100%;
  }
  .restaurants-cards-block__charonne-restaurant a h4 {
    width: 80%;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.restaurants-cards-block__other-restaurants {
  border: 1px transparent inset;
  border-radius: 22px 22px 22px 22px;
  overflow: hidden;
  width: auto;
  height: 287px;
  box-shadow: 0.5px 4px 13px #d3d3d3;
  margin-right: 4.2%;
  margin-left: 4.2%;
  margin-bottom: 6%;
  display: flex;
  flex-direction: column;
}
.restaurants-cards-block__other-restaurants-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 79% left;
  height: 490px;
  overflow-y: hidden;
  margin-bottom: 0;
}
.restaurants-cards-block__other-restaurants-image-caption {
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
  position: relative;
}
.restaurants-cards-block__other-restaurants-image-caption .far {
  transform: scale(1.2);
  color: #646464;
  margin-right: 4%;
  position: absolute;
  right: 1.2%;
  top: 35.5%;
  cursor: pointer;
}
.restaurants-cards-block__other-restaurants-image-caption .far + .fas {
  position: absolute;
  right: 5.1%;
  top: 36.3%;
  border: 0;
  color: transparent;
  background: linear-gradient(#9e67e0, #ff8de0);
  background-clip: text;
  -webkit-background-clip: text;
  visibility: hidden;
}
.restaurants-cards-block__other-restaurants-image-caption .far:hover + .fas {
  animation: 0.4s ease-in 0s forwards filling;
}
.restaurants-cards-block__other-restaurants-image-caption-details {
  font-weight: 350;
  font-size: 14.4px;
  margin-left: 4.2%;
  width: 80%;
}
.restaurants-cards-block__other-restaurants-image-caption-details a h4 {
  margin-bottom: 0;
  margin-top: 0;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .restaurants-cards-block__other-restaurants {
    width: 100%;
    height: 200px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0;
  }
  .restaurants-cards-block__other-restaurants-image {
    width: 100%;
    height: 200px;
  }
  .restaurants-cards-block__other-restaurants-image-caption {
    width: 100%;
  }
  .restaurants-cards-block__other-restaurants-details {
    width: 100%;
  }
  .restaurants-cards-block__other-restaurants a h4 {
    width: 80%;
    margin-bottom: 0;
    margin-top: 0;
  }
}

@keyframes filling {
  0% {
    visibility: visible;
    transform: scale(0);
  }
  20% {
    transform: scale(0.2);
  }
  30% {
    transform: scale(0.3);
  }
  40% {
    transform: scale(0.4);
  }
  50% {
    transform: scale(0.5);
  }
  60% {
    transform: scale(0.6);
  }
  70% {
    transform: scale(0.7);
  }
  80% {
    transform: scale(0.8);
  }
  90% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.4);
    visibility: visible;
  }
}
.header-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 10px;
}
.header-block img {
  width: 37%;
  height: auto;
}
.header-block__searches {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  font-size: 15.5px;
  background-color: #e7e7e7;
  margin-top: 1.2%;
  padding: 14px;
}
.header-block__searches i {
  margin-right: 1.7%;
}
.header-block__searches strong {
  font-weight: 500;
}
@media screen and (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
  .header-block {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f6f6;
  }
  .header-block img {
    width: 16%;
    height: auto;
    margin-left: 1.7%;
  }
  .header-block__searches {
    background-color: transparent;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 2px;
    margin-top: 0;
    padding-bottom: 2px;
    font-size: 14px;
    padding-right: 0;
    margin-right: 1.7%;
  }
}
@media screen and (min-width: 992px) and (orientation: landscape) {
  .header-block {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header-block img {
    width: 13.4%;
    height: auto;
    margin-left: 1.7%;
  }
  .header-block__searches {
    background-color: transparent;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 0;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 15.5px;
    padding-right: 0;
    margin-right: 1.7%;
  }
}

.spinner + h2 {
  width: auto;
  margin-left: 2.4%;
  margin-bottom: 4%;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .spinner + h2 {
    margin-bottom: 0;
  }
}

.indications-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 0;
  margin-bottom: 45px;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .indications-cards {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.indications-cards div:nth-child(1),
.indications-cards div:nth-child(2),
.indications-cards div:nth-child(3) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 88%;
  margin-left: 3.3%;
  margin-right: 3.3%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .indications-cards div:nth-child(1),
.indications-cards div:nth-child(2),
.indications-cards div:nth-child(3) {
    margin-right: 1.5%;
    margin-left: 1.5%;
  }
}

.indications-cards div div:nth-child(1),
.indications-cards div div:nth-child(2),
.indications-cards div div:nth-child(3) {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 15%;
  margin-left: -9.6px;
  margin-right: 8%;
  position: relative;
  top: 1.2px;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .indications-cards div div:nth-child(1),
.indications-cards div div:nth-child(2),
.indications-cards div div:nth-child(3) {
    width: 17%;
  }
}

main + h3 {
  width: auto;
  margin-bottom: 0%;
  padding-left: 2.4%;
  padding-top: 40px;
  padding-bottom: 15px;
  background-color: #f6f6f6;
  font-size: 20.5px;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  main + h3 {
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 2.2%;
    background-color: transparent;
  }
}

.restaurants-cards-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f6f6f6;
  padding-bottom: 30px;
}
.restaurants-cards-block div:first-child a:first-child {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.restaurants-cards-block div:nth-child(2) a:first-child {
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.restaurants-cards-block div:nth-child(3) a:first-child {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.restaurants-cards-block div:nth-child(4) a:first-child {
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}
.restaurants-cards-block a {
  color: black;
  text-decoration: none;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .restaurants-cards-block {
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }
  .restaurants-cards-block div:first-child {
    width: 100%;
  }
  .restaurants-cards-block div:nth-child(2) {
    width: 100%;
  }
  .restaurants-cards-block div:nth-child(3) {
    width: 100%;
  }
  .restaurants-cards-block div:nth-child(4) {
    width: 100%;
  }
}

.footer-block {
  background-color: #363636;
  color: #ededed;
  padding-left: 5%;
  padding-top: 2px;
  margin-bottom: 0;
}
.footer-block__container {
  display: flex;
  flex-direction: column;
  padding-bottom: 33px;
}
.footer-block__container-first-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
  font-size: 13px;
  margin-bottom: 1.5%;
  width: 90%;
}
.footer-block__container-first-line-icon {
  margin-left: 0;
  width: 23px;
}
.footer-block__container-second-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
  font-size: 13px;
  margin-bottom: 1.5%;
  width: 90%;
}
.footer-block__container-second-line-icon {
  margin-left: 0;
  width: 23px;
}
.footer-block__container-third-line {
  font-size: 14px;
  margin-bottom: 1.3%;
  font-weight: 300;
  font-size: 12.5px;
}
.footer-block__container-fourth-line {
  font-size: 14px;
  margin-bottom: 1.5%;
  font-weight: 300;
  font-size: 12.5px;
}
.footer-block__container a {
  color: #ededed;
  text-decoration: none;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .footer-block__container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-bottom: 23px;
  }
  .footer-block__container-first-line {
    width: 28%;
    text-align: center;
  }
  .footer-block__container-first-line-icon {
    margin-left: 0;
    width: 15%;
  }
  .footer-block__container-second-line {
    width: 28%;
    text-align: center;
  }
  .footer-block__container-second-line-icon {
    margin-left: 0;
    width: 15%;
  }
  .footer-block__container-third-line {
    width: 28%;
    text-align: center;
  }
  .footer-block__container-fourth-line {
    width: 25%;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .footer-block {
    margin-top: 3.4%;
  }
}

.heading-block {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 44px;
  background-color: #f6f6f6;
}
.heading-block__description {
  margin-top: 0;
  width: 82%;
  font-weight: 400;
  font-size: 17.5px;
  color: #646464;
  margin-bottom: 27px;
}
.heading-block h1 {
  width: 75%;
  font-weight: 900;
  margin-bottom: 11px;
}
@media screen and (min-width: 768px) and (orientation: landscape) {
  .heading-block h1 {
    width: auto;
    font-weight: 900;
    margin-left: 1.7%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
  .heading-block {
    align-items: flex-start;
    text-align: left;
    padding-top: 4px;
  }
  .heading-block__description {
    width: auto;
    margin-left: 1.7%;
  }
}
@media screen and (min-width: 992px) and (orientation: landscape) {
  .heading-block {
    align-items: flex-start;
    text-align: left;
    margin-top: 1.7%;
  }
  .heading-block__description {
    width: auto;
    margin-left: 1.7%;
  }
}

.footer-block__title {
  font-family: "Shrikhand", cursive;
  color: #ededed;
  color: #ededed;
  font-weight: 400;
  font-size: 14.7px;
}

/*# sourceMappingURL=styles.css.map */
