.spinner {
    text-align: center;
    animation: spinner-display 1s linear 1.4s forwards;


    i {
        position: fixed;
        width: 50%;
        color: $spinner-color;
        animation: spin 1.4s linear 0s;
        visibility: hidden;
    }
}

@keyframes spinner-display {
    from {
        color: transparent;
        border: 0;
        width: 0;
        height: 0;
        margin: 0;
        visibility: hidden;
    }

    to {
        color: transparent;
        border: 0;
        width: 0;
        height: 0;
        margin: 0;
        visibility: hidden;
    }
}

@keyframes spin {

    0% {
        visibility: hidden;
        top: 25%;
        left: 25%;
    }

    1% {
        visibility: visible;
        transform: rotate(0turn);
        top: 25%;
        left: 25%;
    }

    100% {
        transform: rotate(1.5turn);
        top: 25%;
        left: 25%;
        visibility: hidden;
    }
}


@media screen and (orientation: landscape) {

    .spinner {
        text-align: center;
        animation: spinner-display 1s linear 1.4s forwards;

        i {
            position: fixed;
            width: 50%;
            color: $spinner-color;
            animation: spin 1.4s linear 0s;
            visibility: hidden;
        }
    }

    @keyframes spinner-display {
        from {
            color: transparent;
            border: 0;
            width: 0;
            height: 0;
            margin: 0;
            visibility: hidden;
        }

        to {
            color: transparent;
            border: 0;
            width: 0;
            height: 0;
            margin: 0;
            visibility: hidden;
        }
    }

    @keyframes spin {

        0% {
            visibility: hidden;
            top: 25%;
            left: 25%;
        }

        1% {
            visibility: visible;
            transform: rotate(0turn);
            top: 25%;
            left: 25%;
        }

        100% {
            transform: rotate(1.5turn);
            top: 25%;
            left: 25%;
            visibility: hidden;
        }
    }

}

@media screen and (min-width:768px) and (orientation: landscape) {
    .spinner {
        text-align: center;
        animation: spinner-display 1s linear 1.4s forwards;

        i {
            position: fixed;
            width: 50%;
            color: $spinner-color;
            animation: spin 1.4s linear 0s;
            visibility: hidden;
        }
    }

    @keyframes spinner-display {
        from {
            color: transparent;
            border: 0;
            width: 0;
            height: 0;
            margin: 0;
            visibility: hidden;
        }

        to {
            color: transparent;
            border: 0;
            width: 0;
            height: 0;
            margin: 0;
            visibility: hidden;
        }
    }

    @keyframes spin {
        0% {
            visibility: hidden;
            top: 25%;
            left: 25%;
        }

        1% {
            visibility: visible;
            top: 25%;
            left: 25%;
            transform: rotate(0turn);
        }

        100% {
            transform: rotate(1.5turn);
            top: 25%;
            left: 25%;
            visibility: hidden;
        }
    }
}