.spinner {
    text-align: center;
    animation: spinner-display 1s linear 1.4s forwards;

    i {
        width: auto;
        color: $spinner-color;
        animation: spin 1.4s linear 0s forwards;
    }
}

@keyframes spinner-display {
    from {
        color: transparent;
        border: 0;
        width: 0;
        height: 0;
        margin: 0;
        visibility: hidden;
    }

    to {
        color: transparent;
        border: 0;
        width: 0;
        height: 0;
        margin: 0;
        visibility: hidden;
    }
}

@keyframes spin {

    0% {
        visibility: hidden;
        position: fixed;
        top: 24%;
        right: 50%;
    }

    1% {
        visibility: visible;
        transform: rotate(0turn) scale(9);
        position: fixed;
        top: 24%;
        right: 50%;
    }

    100% {
        transform: rotate(1.5turn) scale(9);
        position: fixed;
        top: 24%;
        right: 50%;
        visibility: hidden;
    }
}


@media screen and (orientation: landscape) {

    .spinner {
        text-align: center;
        animation: spinner-display 1s linear 1.4s forwards;

        i {
            width: auto;
            color: $spinner-color;
            animation: spin 1.4s linear 0s forwards;
        }
    }

    @keyframes spinner-display {
        from {
            color: transparent;
            border: 0;
            width: 0;
            height: 0;
            margin: 0;
            visibility: hidden;
        }

        to {
            color: transparent;
            border: 0;
            width: 0;
            height: 0;
            margin: 0;
            visibility: hidden;
        }
    }

    @keyframes spin {

        0% {
            visibility: hidden;
            position: fixed;
            top: 45%;
            right: 50%;
        }

        1% {
            visibility: visible;
            transform: rotate(0turn) scale(9);
            position: fixed;
            top: 45%;
            right: 50%;
        }

        100% {
            transform: rotate(1.5turn) scale(9);
            position: fixed;
            top: 45%;
            right: 50%;
            visibility: hidden;
        }
    }

}

@media screen and (min-width:768px) and (orientation: landscape) {
    .spinner {
        text-align: center;
        animation: spinner-display 1s linear 1.4s forwards;

        i {
            width: auto;
            color: $spinner-color;
            animation: spin 1.4s linear 0s forwards;
        }
    }

    @keyframes spinner-display {
        from {
            color: transparent;
            border: 0;
            width: 0;
            height: 0;
            margin: 0;
            visibility: hidden;
        }

        to {
            color: transparent;
            border: 0;
            width: 0;
            height: 0;
            margin: 0;
            visibility: hidden;
        }
    }

    @keyframes spin {
        0% {
            visibility: hidden;
            position: fixed;
            top: 40%;
            right: 50%;
        }

        1% {
            visibility: visible;
            position: fixed;
            top: 40%;
            right: 50%;
            transform: rotate(0turn) scale(7);
        }

        100% {
            transform: rotate(1.5turn) scale(7);
            position: fixed;
            top: 40%;
            right: 50%;
            visibility: hidden;
        }
    }
}