body {
    font-family: 'Roboto', sans-serif;
    width: auto;
    margin: 0;
    max-width: 1590px;
    min-width: 300px;

    *:not(.spinner) {
        animation: 3s linear timeout;
    }
}

@keyframes timeout {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

* {
    box-sizing: border-box;
}

h1:not(.heading-block h1) {
    font-family: 'Shrikhand', cursive;
}

h2,
h3,
h4 {
    font-family: 'Roboto', sans-serif;
}