body {
    font-family: 'Roboto', sans-serif;
    width: auto;
    margin: 0;
    max-width: 1590px;
    min-width: 300px;

}

* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Shrikhand', cursive;
}

h2,
h2,
h3,
h4 {
    font-family: 'Roboto', sans-serif;
}