.menu {
    font-family: 'Roboto', sans-serif;
    width: auto;
    margin: 0;
    min-width: 300px;

    &>* {
        animation: menu-timeout 0.4s linear;
    }

    * {
        box-sizing: border-box;
    }

    h1 {
        font-family: 'Shrikhand', cursive;
        font-weight: 400;
    }

    h2,
    h3,
    h4:not(.footer-title) {
        font-family: 'Roboto', sans-serif;
    }

    @media screen and (min-width:768px) {
        background-color: $heading-gray;
    }
}

@keyframes menu-timeout {
    0% {

        transform: translateX(-200%);
    }

    100% {
        transform: translateX(-200%);
    }
}